html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X~-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'Delete Book' 
body 
    form(action= '' method = 'post')
        p ISBN
        input(type = 'text', name = 'isbn', value =isbn, disabled)
        p Title
        input(type = 'text', name = 'title', value =title, disabled)
        p Subtitle
        input(type = 'text', name = 'subtitle', value =subtitle, disabled)
        p Author
        input(type = 'text', name = 'author', value =author, disabled)
        p Published
        input(type = 'text', name = 'published', value =published, disabled)
        p Publisher
        input(type = 'text', name = 'publisher', value =publisher, disabled)
        p Pages
        input(type = 'text', name = 'pages', value =pages, disabled)
        p Description
        input(type = 'text', name = 'description', value =description, disabled)
        p Website
        input(type = 'text', name = 'website', value =website, disabled)
        br
        br
        button(type = 'submit' ) Delete Book
